:root {
  --text-dark: #cfb486ff;
  --text-light: #ecdcc1ff;
  --background-dark: #1e2019ff;
  --background-light: #513b56ff;
  --accent: #87aaabff;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--background-dark);
  color: var(--text-light);
  padding: 1rem;
  margin: 0 auto;
  max-width: 66rem;
}

body * {
  transition: color 0.1s;
}

p,
a,
li {
  font-size: calc(1rem + 0.2vw);
}

h1,
h1 a {
  font-size: calc(1.6rem + 0.3vw);
}

h2 {
  font-size: calc(1.4rem + 0.3vw);
}

h3 {
  font-size: calc(1.1rem + 0.3vw);
}

a {
  color: var(--text-dark);
}

header {
  border-bottom: 2px solid var(--text-dark);
  padding-bottom: 1rem;
}

.full-image {
  max-width: calc(100% - 8px);
  border: 4px solid var(--background-light);
}

.shift-down {
  position: relative;
  top: 0.5rem;
}

main {
  margin: 2rem auto;
}

div.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav>ul {
  display: none;
}

nav>ul.active {
  display: block;
}

nav h1 {
  flex: 1 auto;
  margin: 0;
  line-height: 1.5;
}

nav h1>a {
  min-height: 3rem;
}

nav a {
  display: block;
  height: 100%;
  text-decoration: none;
}

nav a:hover {
  color: var(--text-light);
  text-decoration: underline wavy var(--accent);
}

nav button {
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--accent);
  border-radius: 0.3rem;
  color: var(--text-dark);
  background-color: var(--background-dark);
}

nav button:active {
  color: var(--background-dark);
  background-color: var(--text-dark);
}

nav ul {
  padding: 0;
  margin: 0;
  line-height: 2;
}

nav li {
  display: block;
  height: 100%;
  list-style-type: none;
  text-align: center;
}

.outlinks li {
  list-style-type: none;
  padding: 0 0.5rem;
}

.outlinks ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.outlinks img {
  width: 2rem;
  height: 2rem;
}

.new-links {
  padding: 0;
  margin: 1rem;
  list-style-type: none;
}

.new-links li {
  display: flex;
  align-items: center;
  min-height: 3rem;
  background-color: var(--background-light);
  color: var(--text-light);
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 4px var(--accent);
}

.new-links a {
  padding: 1rem;
  flex: auto;
  transition: padding 0.25s ease-in-out;
}

.new-links a:hover {
  text-decoration: underline;
  padding: 1.3rem 1rem;
  transition: padding 0.25s ease-in-out;
}

.new-links * {
  color: var(--text-light);
  margin: 0;
  text-decoration: none;
}

.works>ul {
  list-style-type: none;
  padding-left: 0.8rem;
}

.works>ul>ul {
  list-style-type: none;
  margin-bottom: 1.5rem;
  padding-left: 0.8rem;
}

.works h3 {
  margin-top: 2rem;
  color: var(--accent);
}

.work-title a {
  font-weight: bold;
}

.work p {
  margin: 0.4rem 0;
}

.work iframe {
  max-width: 100%;
  margin: 1rem 0;
  display: block;
}

.purchase {
  border: 2px solid var(--text-dark);
  border-radius: 1rem;
  padding: 0.5rem;
}

/* Tablet & Desktop */
@media screen and (min-width: 44rem) {
  body {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    grid-gap: 1rem;
  }

  header {
    grid-column: 1 / 13;
    grid-row: 1;
  }

  main {
    grid-column: 2 / 11;
    grid-row: 3;
    margin: 0;
  }

  footer {
    grid-column: 1 / 13;
    grid-row: 4;
  }

  .outlinks ul {
    display: block;
  }

  .outlinks li {
    padding: 0.5rem 0;
  }

  .outlinks img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    transition: all 0.05s ease-in-out;
  }

  .outlinks img:hover {
    width: 3rem;
    height: 3rem;
    margin: -0.25rem 0;
    transition: all 0.05s ease-in-out;
  }

  aside {
    grid-column: 12 / 13;
    grid-row: 3;
    text-align: center;
  }

  aside ul {
    position: sticky;
    top: 1rem;
  }

  nav button {
    display: none;
  }

  nav>ul,
  nav>ul.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 3 auto;
  }

  nav>div {
    flex: 2 auto;
  }

  nav {
    flex: 1 auto;
  }

  nav li {
    flex: 1 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  div.navbar {
    margin-bottom: 0;
  }

  nav h1 {
    margin-right: 10%;
  }

  .about img {
    float: right;
    max-width: 50%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
