---
title: About
layout: base.njk
---

<main class="about">
  <article>
    <h2>{{ title }}</h2>
    <img src="/images/bliss-1.webp" alt="Headshot of Ryann Daisy Swimmer" class="full-image">
    <p>Ryann Daisy Swimmer is an American composer, performer, and curator from Minneapolis, Minnesota, whose musical ethos focuses on the in-between, the blurred lines, and the insignificant. As a composer, Daisy brings her knowledge of theory-heavy composition and instinctive popular music together to create music that could be categorized as classically-influenced experimental music, “indie-classical”, or something else entirely.</p>
    <p>The same philosophy is used in her curation and performing, which focus heavily on DIY aesthetics. Performances of her works for guitar and pedalboard are more suited for basements, living rooms, and guerrilla shows than traditional concert halls. Daisy has worked with local labels Corrector Records and Æther Tapes, written for and performed with Zeitgeist new music ensemble, and was the 2021 recipient of the American Composers Forum’s Minnesota Music Creator Award.</p>
  </article>
</main>