---
title: Contact
layout: base.njk
---

<main class="contact">
  <h2>{{ title }}</h2>
  <p id="contact-info">Feel free to contact me with any comments, questions, inquiries, or commissions—or to purchase scores. I can also be found on social media.</p>
  <form id="contact-form" action="https://script.google.com/macros/s/AKfycbyxb5MSOCM_xzE1b7f6mlRtWzItHMTyD7FhmyD8T4KpB5MTLCR26H6Ttg8GsBi3kpI/exec" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea name="message" id="message" cols="50" rows="8"></textarea>
    </div>
    <div class="submit">
      <button type="submit">Submit</button>
    </div>
  </form>
</main>
<script src="/scripts/submit-form.js"></script>