---
title: Home
layout: base.njk
---

<main class="home">
  <article>
    <h2>New things <span class="shift-down">↴</span></h2>
    <ul class="new-links">
      {% for link in newLinks %}
      <li><a href="{{ link.url }}" target="_blank">
        <h3>{{ link.title }}</h3>
        <p>{{ link.description }}</p>
      </a></li>
      {% endfor %}
    </ul> 
  </article>
</main>