---
title: Home
layout: base.njk
---

<main class="home">
  <article>
    <h2>New things <span class="shift-down">⮷</span></h2>
    <ul class="new-links">
      <li><a href="https://www.youtube.com/playlist?list=PLC-KdSTfdqoeuaIkj-0ijUoUEn4UfgBAa">
        <h3>Slow Waves 6/21/23</h3>
        <p>Videos from the Slow Waves concert at Center for Performing Arts (YouTube)</p>
      </a></li>
      <li><a href="https://songsandwich.buzzsprout.com/1896409/12950799-daisy-swimmer-composer-makes-a-sufjan-deep-cut">
        <h3>Song Sandwich - Daisy Swimmer (composer) makes a "Sufjan Deep Cut"</h3>
        <p>Feature on the Song Sandwich podcast</p>
      </a></li>
      <li><a href="https://swimmerbresslerwaldo.bandcamp.com/album/w-i-n-t-r">
        <h3>w.i.n.t.r., by Swimmer, Bressler & Waldo</h3>
        <p>First Swimmer, Bressler & Waldo release (Bandcamp)</p>
      </a></li>
    </ul> 
  </article>
</main>