---
title: Works
layout: base.njk
---

<main class="works">
  <h2>{{ title }}</h2>
  {% for genre in genres %}
  <h3 id="genre-{{ genre.code }}">{{ genre.name }}</h3>
  <ul>
    {% for work in works %}
    {% if work.genre === genre.code %}
    <li class="work-title">
      <a href="/works/{{ work.title | slugify }}">
        <span>{{ work.title }}</span>
        {% if work.subtitle %}<br><span>{{ work.subtitle }}</span>{% endif %}
      </a>
    </li>
    <ul>
      {% if work.dedication %}
      <li>{{ work.dedication | safe }}</li>
      {% endif %}
      <li>Instrumentation: {{ work.instrumentation }}</li>
      {% if work.text %}
      <li>Text: {{ work.text }}</li>
      {% endif %}
      <li>Composed: {{ work.compositionDate }}</li>
      <li>Duration: {{ work.duration }}</li>
    </ul>
    {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
</main>