---
pagination:
  data: works
  size: 1
  alias: work
layout: base.njk
permalink: "works/{{ work.title | slugify }}.html"
eleventyComputed:
  title: "{{ work.title }} - Works"
---

<main class="work">
  <div>
    <h2>
      {{ work.title }}
      {% if work.subtitle %}<br>{{ work.subtitle }}{% endif %}
    </h2>
    {% if work.dedication %}
    <p>{{ work.dedication | safe }}</p>
    {% endif %}
    <p>Instrumentation: {{ work.instrumentation }}</p>
    {% if work.text %}
    <p>Text: {{ work.text }}</p>
    {% endif %}
    <p>Composed: {{ work.compositionDate }}</p>
    <p>Duration: {{ work.duration }}</p>
    {% if work.explanatory %}
    <div class="explanatory">{{ work.explanatory | safe }}</div>
    {% endif %}
    {% if work.youtubeUrl %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ work.youtubeUrl.split('.be/')[1] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}
    {% if work.bandcampEmbed %}
    {{ work.bandcampEmbed | safe }}
    {% endif %}
  </div>
  <div class="pdf">
    <object data="/scores/{{ work.sampleScorePath }}" type="application/pdf" width="500px">No PDF plugin available.</object>
    <section class="purchase">
      <p><span class="price">Price: ${{ work.price }}</span></p>
      <p><a href="#">Contact</a> to purchase. Scores will be emailed directly within 3 business days. Student discounts and physical scores available.</p>
    </section>
  </div>
</main>