:root {
  --text-dark: #cfb486ff;
  --text-light: #ecdcc1ff;
  --background-dark: #1e2019ff;
  --background-light: #513b56ff;
  --accent: #87aaabff;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--background-dark);
  color: var(--text-light);
  padding: 1rem;
  margin: 0 auto;
  max-width: 66rem;
}

body * {
  transition: color 0.1s;
}

p,
a,
li,
input,
textarea,
label,
button {
  font-size: calc(1rem + 0.2vw);
}

h1,
h1 a {
  font-size: calc(1.6rem + 0.3vw);
  font-weight: normal;
  letter-spacing: 1px;
}

h2 {
  font-size: calc(1.4rem + 0.3vw);
}

h3 {
  font-size: calc(1.1rem + 0.3vw);
}

h2,
h3 {
  letter-spacing: 1px;
}

a {
  color: var(--text-dark);
}

main a:hover {
  background-color: var(--background-light);
  color: var(--text-light);
}

.new-links a:hover,
.dl-pdf a:hover {
  background-color: transparent;
}

header {
  border-bottom: 2px solid var(--text-dark);
  padding-bottom: 1rem;
}

.full-image {
  max-width: calc(100% - 8px);
  border: 4px solid var(--background-light);
}

.shift-down {
  position: relative;
  top: 0.3rem;
}

main {
  margin: 2rem auto;
}

div.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav>ul {
  display: none;
}

nav>ul.active {
  display: block;
}

nav h1 {
  flex: 1 auto;
  margin: 0;
  line-height: 1.5;
  text-shadow: 2px 2px var(--background-light);
}

nav h1>a {
  min-height: 3rem;
}

nav a {
  display: block;
  height: 100%;
  text-decoration: none;
}

nav a:hover {
  color: var(--text-light);
  text-decoration: underline wavy var(--accent);
}

nav button {
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  border: 2px solid var(--text-dark);
  border-radius: 0.3rem;
  color: var(--text-dark);
  background-color: var(--background-dark);
  padding: 0.2rem;
}

nav button:active {
  color: var(--background-dark);
  background-color: var(--text-dark);
}

nav ul {
  padding: 0;
  margin: 0;
  line-height: 2;
}

nav li {
  display: block;
  height: 100%;
  list-style-type: none;
  text-align: center;
}

.outlinks li {
  list-style-type: none;
  padding: 0 0.5rem;
}

.outlinks ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.outlinks img {
  width: 2rem;
  height: 2rem;
}

.new-links {
  padding: 0;
  margin: 1rem;
  list-style-type: none;
}

.new-links h3 {
  letter-spacing: normal;
}

.new-links li {
  display: flex;
  align-items: center;
  min-height: 3rem;
  background-color: var(--background-light);
  color: var(--text-light);
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 4px var(--accent);
}

.new-links a {
  padding: 1rem;
  flex: auto;
  transition: padding 0.25s ease-in-out;
}

.new-links a:hover {
  text-decoration: underline;
  padding: 1.3rem 1rem;
  transition: padding 0.25s ease-in-out;
}

.new-links * {
  color: var(--text-light);
  margin: 0;
  text-decoration: none;
}

.works>ul,
.recordings>ul {
  list-style-type: none;
  padding-left: 0.8rem;
}

.works>ul>ul,
.recordings>ul>ul {
  list-style-type: none;
  margin-bottom: 1.5rem;
  padding-left: 0.8rem;
}

.works h3,
.recordings h3 {
  margin-top: 2rem;
  color: var(--accent);
}

.works h3:first-of-type,
.recordings h3:first-of-type {
  margin-top: 1rem;
}

.recordings iframe {
  padding-top: 0.5rem;
}

.work-title a {
  font-style: italic;
}

.work h2 {
  font-style: italic;
}

.work p {
  margin: 0.4rem 0;
}

.work iframe {
  max-width: 100%;
  margin: 1.6rem 0;
  display: block;
}

.explanatory {
  margin: 1.6rem 0;
}

#seeds {
  max-height: 500px;
}

.purchase {
  margin: 1.6rem 0;
  /* border: 2px solid var(--background-light); */
  background-color: var(--text-light);
  color: var(--background-dark);
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
}

.purchase a {
  color: var(--background-light);
}

.purchase a:hover {
  background-color: var(--accent);
  color: var(--background-light);
}

.price {
  font-weight: bold;
  font-family: monospace;
}

.dl-pdf {
  background-color: var(--background-light);
  width: calc(14rem + 3vw);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 2px 2px var(--accent);
}

.dl-pdf a {
  flex: 1;
  text-align: center;
  padding: 0.5rem 0;
}

embed {
  max-width: 100%;
  height: 400px;
  margin-top: 1rem;
  background-color: white;
}

input,
textarea {
  display: block;
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.5rem;
}

textarea {
  white-space: pre-wrap;
}

button {
  font-family: 'Jost', sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  width: 6rem;
  border-radius: 0.3rem;
}

#contact-form div {
  margin-top: 1rem;
}

#contact-info {
  border-bottom: 2px solid var(--text-light);
  padding-bottom: 1rem;
}

main.contact {
  max-width: 40rem;
}

/* Tablet & Desktop */
@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1rem, auto);
    grid-gap: 1rem;
  }

  header {
    grid-column: 1 / 13;
    grid-row: 1;
  }

  main {
    grid-column: 2 / 11;
    grid-row: 3;
    margin: 0;
  }

  main.work {
    grid-column: 1 / 12;
  }

  footer {
    grid-column: 1 / 13;
    grid-row: 4;
  }

  .outlinks ul {
    display: block;
  }

  .outlinks li {
    padding: 0.5rem 0;
  }

  .outlinks img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    transition: all 0.05s ease-in-out;
  }

  .outlinks img:hover {
    width: 3rem;
    height: 3rem;
    margin: -0.25rem 0;
    transition: all 0.05s ease-in-out;
  }

  aside {
    padding-top: 1rem;
    grid-column: 12 / 13;
    grid-row: 3;
    text-align: center;
  }

  aside ul {
    position: sticky;
    top: 2rem;
  }

  nav button {
    display: none;
  }

  nav>ul,
  nav>ul.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 3 auto;
  }

  nav>div {
    flex: 2 auto;
  }

  nav {
    flex: 1 auto;
  }

  nav li {
    flex: 1 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  div.navbar {
    margin-bottom: 0;
  }

  nav h1 {
    margin-right: 10%;
  }

  .about img {
    float: right;
    max-width: 50%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  embed {
    margin-top: 1.6rem;
    height: 470px;
  }
}
